html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#container {
    display: grid;
    height: 650px;
    width: 650px;
    border-style: solid;
    border-width: 3px;
}

.grid {
    border-style: dotted;
    border-width: 1px;
}